@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "BArshia", "BNazanin", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  float: right;
  direction: rtl;
  width: 100%;
}
body {
  font-family: "BNazanin";
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    "BNazanin", monospace;
}
@font-face {
  font-family: "BNazanin";
  src: local("BNazanin"), url(./fonts/BNazanin.ttf) format("truetype");
}
@font-face {
  font-family: "BArshia";
  src: local("BArshia"), url(./fonts/BArshia.ttf) format("truetype");
}